# Common
logs
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json

# Frontend
**/node_modules
**/dist
**/dist-ssr
**/*.local

# Backend
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv
**/venv
**/ENV
**/.env
**/.pytest_cache/
**/*.db
**/*.sqlite
**/alembic/versions/*.pyc
